**/bin/ANY/*
**/bin/*
**/bin/Debug/*
**/bin/Release/*
**/bin/x86/*
**/Debugx86/*
**/Debug35/*

**/obj/ANY/*
**/obj/Debug/*
**/obj/Release/*
**/obj/x86/*
**/obj/Debug35/*
**/obj/*

**/packages/*
*.bak
**/*.suo
**/.vs/*
**/*.user
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
